<div id="about">
    <img src="../assests/me.jpg
    " alt="">
    <h2>Vem är jag?</h2>
    <p> Ugh kogi knausgaard, cliche tofu polaroid bitters venmo 3 wolf moon. Pickled paleo neutra irony,
        brunch locavore actually tilde synth franzen offal craft beer artisan. Post-ironic church-key
        selfies gluten-free kitsch chartreuse, marfa 90's. Vice fixie paleo pitchfork marfa cray, lumbersexual
        keytar. Fingerstache dreamcatcher echo park vinyl, kitsch green juice gluten-free pabst kombucha.
        Vice pop-up freegan mlkshk bicycle rights. Gluten-free vice banjo leggings, umami selfies sartorial
        pitchfork viral hoodie skateboard wayfarers man braid small batch gochujang.</p>

    <p> Ugh kogi knausgaard, cliche tofu polaroid bitters venmo 3 wolf moon. Pickled paleo neutra irony,
        brunch locavore actually tilde synth franzen offal craft beer artisan. Post-ironic church-key
        selfies gluten-free kitsch chartreuse, marfa 90's. Vice fixie paleo pitchfork marfa cray, lumbersexual
        keytar. Fingerstache dreamcatcher echo park vinyl, kitsch green juice gluten-free pabst kombucha.
        Vice pop-up freegan mlkshk bicycle rights. Gluten-free vice banjo leggings, umami selfies sartorial
        pitchfork viral hoodie skateboard wayfarers man braid small batch gochujang.</p>
</div>