<button class="new-post" ng-click="newpost = !newpost; editable = false">New Post</button>

<!--SEARCH BY TITLE-->
<div class="filters">
    <a href="" ng-hide="searchtitle" ng-click="searchtitle = true">Search Blog Post</a>
    <input ng-blur="searchtitle = false" ng-show="searchtitle" type="search" ng-model="data.search"
           placeholder="Search by title">
</div>

<h3>All posts</h3>
<!-- NEW POST-->
<div class="new-text" ng-show="newpost">
    <input type="text" placeholder="title" ng-model="post.title" ng-minlength="1">
    <textarea name="" id="" cols="30" rows="10" ng-model="post.text" ng-minlength="5"></textarea>
    <input ng-show="post.text && post.title" type="submit" value="Submit Post" ng-click="addPost()">
</div>

<div class="post" ng-repeat="post in posts | filter: data.search"  >
    <!--STANDARD-->
    <div class="post-text" ng-hide="editable">
        <h3  ng-click="editable = true">{{post.title}}</h3>
        <p>{{post.text}}</p>
        <p>{{post.date | date}}</p>
        <p>{{post.author}}</p>
    </div>

    <!--EDIT VIEW-->
    <div class="new-text" ng-show="editable">
        <input ng-model="post.title" type="text" placeholder="Title">
        <textarea ng-model="post.text" name="textarea" id="editarea" cols="30" rows="10" ></textarea>
        <ul ng-show="post.title && post.text">
            <button href="" ng-click="editable = !editable; save = false">Edit</button>
            <button href="" ng-show="editable" ng-click="editPost($index); save = true">Save</button>
            <button href="" ng-click="deletePost($index); editable = false">Delete</button>
            <p ng-show="save">Post has been saved!</p>
        </ul>
    </div>

</div>
