<div class="post" ng-repeat="post in posts | filter: data.search"  >
<!--STANDARD-->
    <div class="post-text" ng-hide="editable">
        <h3  ng-click="editable = true">{{post.title}}</h3>
        <p>{{post.text}}</p>
        <p>{{post.date | date}}</p>
        <p>{{post.author}}</p>
    </div>

<!--EDIT VIEW-->
    <div class="new-text" ng-show="editable">
        <input ng-model="post.title" type="text" placeholder="Title" ng-blur="editable = false">
        <textarea ng-model="post.text" name="textarea" id="editarea" cols="30" rows="10" ></textarea>
        <ul>
            <button href="" ng-click="editable = !editable">Edit</button>
            <button href="" ng-show="editable" ng-click="addPost()">Save</button>
            <button href="" ng-click="deletePost($index)">Delete</button>
        </ul>
    </div>

</div>