*{
    font-family: 'Oswald', sans-serif;
}

nav ul{
    list-style: none;
    margin: 0;
    text-align: center;
    font-size: 25px;

}

body{
    background-repeat: repeat;

}


#about img{
    border-radius: 100px;
    height: 20%;
    width: 20%;

    display: block;
    margin: auto;
    margin-top: 5%;
}

#main-content {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.new-post{
    max-width: 100px;
    margin: auto;
}

#main-content h3{
    display: inline-block;
    margin: auto;
    margin-top: 10px;
}

.post{
    margin-top: 20px;
    background-color: #e6cf8b;
    padding-left: 2%;
    -webkit-box-shadow: 11px 10px 50px -4px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px 10px 50px -4px rgba(0,0,0,0.74);
    box-shadow: 11px 10px 50px -4px rgba(0,0,0,0.74);
}

#header{
    background-color: #22264b;
    min-height: 100px;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

#header h1{
    font-size: 52px;

}

.filters {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.filters a{
    margin: auto;
}

.post-text{
    max-height: 20rem;
    overflow: hidden;
    padding-bottom: 20px;
}
.new-text{
    display: flex;
    flex-direction: column;
}

.new-text textarea{
    margin-top: 20px;
}

footer{
    background-color: coral;
    min-height: 150px;
    text-align: center;
    padding-bottom: 20px;

}
